@font-face {
	font-family: 'Roboto-Light';
	src: url('/fonts/Roboto-Light.ttf')
}

* {
    font-family: 'Roboto-Light';  
}

.form-control-error {
    border-color: red;
}

.form-control-success {
    border-color: green;
}