<%- include('../partials/head') %>
<main  class="container-fluid">
    <div class="vh-100 bg-light flex-column flex-md-row row justify-content-start align-items-start justify-content-md-center align-items-md-center">
    
    <form action="/users/login" class="col-8 m-4 col-10 text-center align-self-md-end " method="POST">
        
        <div class="mb-3 col-md-4 mx-auto">

          
            <% if (typeof error != "undefined") {%>
                <p><%= error %></p>
            <%}%>

          <label for="username" class="form-label">Email (Username)</label>
          <input name="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
          <div id="usernameHelp" class="form-text">Ingrese su email</div>
        </div>
        <div class="mb-3 col-md-4 mx-auto">
          <label for="password" class="form-label">Contraseña</label>
          <input name="password" type="password" class="form-control" id="password" aria-describedby="passHelp">
          <div id="passHelp" class="form-text">Ingrese su contraseña</div>
        </div>
        
        <button type="submit" class=" mx-auto btn btn-lg btn-warning shadow">LOGIN</button>
      </form>


<div class="m-4 col-10 align-self-md-start text-center">
    <a href="/"><button type="button" class="shadow btn btn-secondary btn-lg">CANCELAR</button></a>
    
    </div>

    </main>
    <%- include('../partials/footer') %>